* {
    font-size: large;
}

#contents {
    display: grid;
    grid-template-columns: 250px auto;
}

h1 {
    position: relative;
    left: 20%;
    font-size: 48px;
}

.code-examples {
    color:  #2a150d;
    width: 800px;
    padding: 15px 0 15px 15px;
    border-radius: 20px;
    background-color: #c7c7c7;
    line-height: 160%;
}

#nth-example > li:nth-child(4) {
    color: blue;
}

#even-example > li:nth-child(even) {
    color: blue;
}

#navbar {
    display: flex;
    flex-direction: column;
    border-right: 1px solid black;
    margin-right: 15px;
}
#navbar > a {
    margin-top: 20px;
}